/* Patterns */

	.pattern-custom:after{
		background: url(../images_custom/pattern-custom.png) repeat;
		content:'';
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		position: absolute;
	}


/* Fonts */

	.dark{
		color: #a7917b;
	}
		
	.home-arrow span {
	    color:black;
	}
	
	.home-arrow span:hover {
	    color:white;
	}

/* Background Slider Images  */	
	#slides .slides-container div{
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: scroll;
		/*
		background-position: left top;
	  */
	}
	
	#slides .slides-container .image1{
		background-image:url(../images_custom/slide1.jpg);
	}

	#slides .slides-container .image2{
		background-image:url(../images_custom/slide2.jpg);
	}
	#slides .slides-container .image3{
		background-image:url(../images_custom/slide3.jpg);
	}	

	#slides .slides-container .image4{
		background-image:url(../images_custom/slide4.jpg);
	}	
	
	#slides .slides-container .image5{
		background-image:url(../images_custom/slide5.jpg);
	}

	#slides .slides-container .image6{
		background-image:url(../images_custom/slide6.jpg);
	}
	#slides .slides-container .image7{
		background-image:url(../images_custom/slide7.jpg);
	}	

	#slides .slides-container .image8{
		background-image:url(../images_custom/slide8.jpg);
	}

/* Logo Style */

	.site-logo a.logo img{
		max-height: 70px;
	}
	
/* Services */

	#services{
		background:url(../images_custom/Servizi.jpg) center center fixed;
		padding:55px 0;
		overflow: hidden;
	}
	
/* Contact */

	#contact{
		background:#a7917b;
		padding:10px 0 10px;
	}
	



/* Footer */

	.footer{
		background: #847465;
	}
	
	.footer p.copyright a{
		color:black;
	}
	
	.footer p.copyright a:hover{
		color:white;
	}
